jupyterlab
myst-parser
nbsphinx
numba==0.48
pandoc
plantweb
plantweb
pygithub
pypandoc
pytest
readthedocs-sphinx-search
sphinx
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-programoutput
