name: Synthpops Examples
on:
  workflow_dispatch

jobs:
  install_and_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        python-version: [ '3.7' ]
    name: Install and run examples
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1
      - uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install synthpops
        run: python setup.py develop
      - name: Run Examples
        working-directory: ./tests
        run: |
          apt-get install graphviz
          which neato
          pip install pytest
          pip install -r requirements_test.txt
          pytest run_example.py --durations=0 --junitxml=test-results.xml # Run actual tests

      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test_results
          path: tests/result
